{{ if .Site.Data.homepage.testimonial.enable }}
<section class="section rad-animation-group section--border-bottom" style="margin:0px">
    <div class="container">
        <h2 class="rad-fade-down">{{ .Site.Data.homepage.testimonial.title }}</h2>
        <div class="row--padded mb-0 rad-fade-down">
            {{ range .Site.Data.homepage.testimonial.items }}
            
                <p>
                    {{ .content | safeHTML }}
                </p>    
                <p>
                 <a href="{{ .button.URL | absURL }}"
                 class="btn btn-primary">
                 <i class="{{ .button.icon }}"></i>
                 {{ .button.btnText }}</a>
                 </p>
           {{ end }}  
        </div>
     
    </div>
   
</section>
{{ end }}

